name: Build & Deploy
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  boot-jar-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/boot-jar-app.yaml@main
    permissions:
      actions: read
      contents: write
      security-events: write
      packages: write
      id-token: write
    secrets: inherit
    with:
      app: sykepengedager-informasjon
      java-version: '21'
